<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Biography - Pál Matolay</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Pál Matolay</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link js-scroll-trigger" href="#others">Others</a>-->
          <!--</li>-->
        </ul>
      </div>
      <p class="sr-self d-none d-lg-block" style="color:#fff" align="left">I'm an optimistic, creative, practice-oriented, never give up and (partially) androidaddict guy, who love to
        learn new technologies and frameworks. When I can beat the unknown and break trough my limits... That's so enjoyable!</p>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Pál
            <span class="text-primary">Matolay</span>
          </h1>
          <div class="subheading mb-5"><span style="color:#000000">19.04.1993
            </span> · Ciprus str. 8 · Budapest, 1087, Hungary · +36 30 524 2416 ·
            <a href="mailto:matolaypal@gmail.com">matolaypal@gmail.com</a>
          </div>
          <div class="container">
            <div id="carouselContent" class="carousel slide" data-ride="carousel">
              <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carouselContent" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carouselContent" data-slide-to="1"></li>-->
                <!--<li data-target="#carouselContent" data-slide-to="2"></li>-->
              <!--</ol>-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                  <p style="color:#000000">&#8222;He's analytical thinking, honest and clear communication and last but
                    not least his ability to adapt to many things in such a short period of time make him a great candidate
                    to all willing to work with him.&#8221;</p>
                  <p><i>Áron Kovács, Software Developer, LindIn recommendation</i></p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p style="color:#000000">&#8222;He has a lot of energy, alway working on something new, an inovator.
                    Navigates through technologies easily, loves to code.&#8221;</p>
                  <p><i>Tamás Tompa, Codecool mentor, school recommendation</i></p>
                </div>
                <div class="carousel-item text-center p-4">
                  <p style="color:#000000">&#8222;Palkó has grown a lot, during the 2-3 months we worked together. He
                    became a really good team player. He is the most dedicated person I've worked with.&#8221;</p>
                  <p><i>Ádám Bodnár, ex Codecooler, school recommendation</i></p>
                </div>
              </div>
              <!--<a class="left carousel-control" href="#carouselContent" role="button" data-slide="prev">-->
                <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                <!--&lt;!&ndash;<span class="sr-only">Previous</span>&ndash;&gt;-->
              <!--</a>-->
              <!--<a class="right carousel-control" href="#carouselContent" role="button" data-slide="next">-->
                <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                <!--&lt;!&ndash;<span class="sr-only">Next</span>&ndash;&gt;-->
              <!--</a>-->
            </div>
          </div>
          <p class="lead mb-5">Check out my LinkedIn for more information about my education and there's
            the Github with my public project contributions (mostly during the Codecool (see below)).<br><br>Or keep
            reading this site about my work experience and more.</p>
          <div class="social-icons">
            <a class="sr-connect" href="https://www.linkedin.com/in/p%C3%A1l-matolay-71a4a9140/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="sr-connect" href="https://github.com/matolaypal/" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a class="sr-connect" href="https://www.facebook.com/pal.matolay" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Backend Developer</h3>
              <div class="subheading mb-3">Hungarian Association of Youth Service Providers</div>
              <p>I got a nice offer from a good guy that I should implement a server application what can service a
                cross-platform mobile application for this organization. I had to plan the whole architecture, provide
                the security, managing database and images. I do this in my free time after the work and weekend. The
                planned release will be at 1st of October and the demo will be within a few days in one of their conference.
              </p><p class="mb-0">I enjoy programming that language what I learn for fun (kotlin) and try myself with a robust,
              lightweight, large scalable web framework (spring boot).</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2018 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Junior Developer</h3>
              <div class="subheading mb-3">Tata Consultancy Services</div>
              <p>Nowadays I'm working at the TCS on a project for a telecommunications company what provide with
                operations in Europe, Asia, and North, Central and South America more then 300 million access.
              I working on a smaller part what is an Enterprise Service Bus with implementation by Oracle (called OSB)
                in Waterfall project management.</p><p class="mb-0">When I have time between two release, then
              I dive into CI/CD with Jenkins and build (or help to build) automatic pipelines for our team.
                I often do the work alone and I need to be sync with teammates from other countries and with different cultures</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2017 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Intern and school</h3>
              <div class="subheading mb-3">Codecool</div>
              <p>That was my most intensive part of my life so far! I really enjoyed that way of learning with awesome
                and really cool peoples. That time when I met with a new side of me and I learnt a lot about teamwork
                and programming. It was (almost) totally Agile oriented, up-to-date and full of challenge. The
                atmosphere was opened, solution oriented and flexible. These are values what I still looking in a company.
              </p><p class="mb-0">The Intern was a 2 months long POC mini-projects in home office with contract and everything.
              For more info check out my LinkdIn recommendations (if you didn't do it yet).</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2016 - September 2017</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <h3 class="mb-0">Programming Languages &amp; Tools</h3>
          <div class="subheading mb-3">(for more information click on the icons or the links)</div>

          <a href="http://iszosz.org/index_en.html" target="_blank">Hungarian Association of Youth Service Providers</a>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <a href="https://spring.io/" target="_blank"><img class="sr-icons" src="img/spring_boot.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.heroku.com/" target="_blank"><img class="sr-icons" src="img/heroku.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.atlassian.com/" target="_blank"><img class="sr-icons" src="img/atlassian.ico"></a>
            </li>
          </ul>

          <a href="https://www.tcs.com/" target="_blank">Tata Consultancy Services</a>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <a href="https://www.oracle.com" target="_blank"><img class="sr-icons" src="img/oracle.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://en.wikipedia.org/wiki/Shell_script" target="_blank">
                <img class="sr-icons" src="img/sh.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="http://groovy-lang.org/" target="_blank"><img class="sr-icons" src="img/groovy.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.apache.org/" target="_blank"><img class="sr-icons" src="img/apache.ico"></a>
            </li>
            <li class="list-inline-item">
            <a href="https://jenkins.io" target="_blank"><img class="sr-icons" src="img/jenkins.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.eclipse.org/" target="_blank"><img class="sr-icons" src="img/eclipse.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.ibm.com/us-en/marketplace/rational-clearcase" target="_blank">
                <img class="sr-icons" src="img/clearcase.ico"></a>
            </li>
          </ul>

          <a href="https://codecool.com/" target="_blank">Codecool</a>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
            <a href="https://www.python.org/" target="_blank"><img class="sr-icons" src="img/python.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.java.com/en/" target="_blank"><img class="sr-icons" src="img/java.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.postgresql.org/" target="_blank"><img class="sr-icons" src="img/postgresql.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.jetbrains.com/" target="_blank"><img class="sr-icons" src="img/jetbrains.ico"></a>
            </li>
            <li class="list-inline-item">
              <a href="https://git-scm.com/" target="_blank"><img class="sr-icons" src="img/git.ico"></a>
            </li>
            <li class="list-inline-item">
              <!--<img class="sr-icons d-none d-lg-block" src="img/front-end-128.ico"-->
                   <!--title="front-end" name="image_name" width='48' height='48'-->
                   <!--onmouseover="image_name.width='128';image_name.height='128';"-->
                   <!--onmouseout="image_name.width='48';image_name.height='48';">-->
                <!--d-block d-lg-none-->
              <img class="sr-icons " src="img/front-end-48.ico" title="front-end">
            </li>
          </ul>
          <!--class="lead mb-5"-->
         <p>Just for fun (since April 2017):</p>
          <ul class="list-inline dev-icons">
          <li class="list-inline-item">
          <a href="https://kotlinlang.org/" target="_blank"><img class="sr-icons" src="img/kotlin.ico"></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.android.com/" target="_blank"><img class="sr-icons" src="img/android.ico"></a>
          </li>
          <li class="list-inline-item">
            <a href="https://developer.android.com/studio/" target="_blank">
              <img class="sr-icons" src="img/android-studio.ico"></a>
          </li>
          </ul>

          <h3 class="mb-0">Workflow</h3>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Waterfall or Agile Development &amp; Scrum</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Design and Architectural Patterns</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Growth-mindset, Analytic thinking</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Transparency, Team work, Feedback culture</li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>From programming side I truly love in kotlin and try to do everything with this language as I can. (I think
          if the Python and Java have a child then it will be.) And I also try to get more and more experience in Android
          development by myself. However the following areas are also interesting for me: Ethical Hacking, VR, AR and 3D animation.
          </p><p class="mb-0">Otherwise I'm an artistic type and my other love is music too. I gladly go for a concert
          or play on my drum, but I also played on guitar, piano and flute in the old times. One of the reason why I love capoeira
          because of the rhythm, music and art with your body. I always go whenever I have time for that. Last but not least,
          sometimes I write novels, poems or blog... For example I wrote more then 10 post for the school (Codecool) when
            I learnt there. If you're interested you can find more <a href="https://codecool.hu/blog/tag/diakok/">here</a>
            (in Hungarian starting with my nickname (Palkó) in the title).</p>
        </div>
      </section>

      <!--<section class="resume-section p-3 p-lg-5 d-flex d-column" id="others">-->
        <!--<div class="my-auto">-->

        <!--</div>-->
      <!--</section>-->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.js"></script>

  </body>

</html>
